@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">You have stumbled onto the SimpleCalculator</h1>
    <p>The calculator that only adds numbers.</p>
</div>
